/* src/styles/admin/base.module.css */

.pageWrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
   
.mainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: auto;
    padding: 40px 0;
}
   
.header {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
}
   
.title {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
}
   
.successMessage,
.errorMessage {
    position: fixed;
    overflow: visible;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    border-radius: 4px;
    text-align: center;
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
   
.successText {
    color: #55FF55;
}
   
.errorText {
    color: #FF5555;
}
   
.subtitle {
    font-size: 20px;
    margin: 30px 0 20px 0;
    color: #fff;
}
   
.flexRow {
    display: flex;
    gap: 10px;
    align-items: center;
}
   
.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
   
.fullWidth {
    width: 100%;
}
   
.loading {
    display: flex;
    margin-top: 50%;
    justify-content: center;
    color: #fff;
    font-family: 'Minecraft', sans-serif;
}



/* Event Preview */
.editLayout {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
    align-items: stretch;
}
  
.formSection {
    width: 50%;
    min-width: 600px;
    flex: 1;
    display: flex;
    flex-direction: column;
}


.previewSection {
    width: 50%;
    min-width: 600px;
    flex: 1;
    flex-direction: column;
}


.formSection > form,
.previewSection > div:nth-child(2) {
    border-radius: 4px;
    padding: 15px;
    height: auto;
    overflow: visible;
    min-height: 600px;
}

.formSection > form {
    margin-top: -10px;
}
  
@media (max-width: 1280px) {
    .editLayout {
        flex-direction: column;
        align-items: center;
    }

    .formSection {
        width: 100%;
        max-width: 660px;
        min-width: auto;
    }

    .previewSection {
        width: 100%;
        padding-left: 25px;
        max-width: 680px;
        min-width: auto;
        margin-bottom: 50px;
    }
}