/* footer.module.css */
.footer {
  background-color: #151515;
  border-top: 2px solid #505050;
  bottom: 0;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 12px;
  height: var(--footer-height);
  justify-content: space-between;
  left: 0;
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.footer-box {
  flex: 1;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.footer-left-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-right-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-box {
  justify-content: flex-start;
}

.right-box {
  justify-content: flex-end;
}

.player-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.player-link:hover {
  text-decoration: underline;
}
