/* src/styles/footer.module.css */

/* Footer Container */
.footer {
    background-color: #151515;
    border-top: 2px solid #505050;
    bottom: 0;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 12px;
    height: var(--footer-height);
    justify-content: space-between;
    left: 0;
    padding: 10px 15px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

/* Footer Sections */
.footer-box {
    flex: 1;
    font-size: 12px;
    padding: 5px;
}

.footer-right-content {
    align-items: center;
    display: flex;
    gap: 10px;
    max-width: auto;
}

.footer-right-content img {
    border-radius: 4px;
    height: 32px;
    width: 32px;
}

.left-box {
    text-align: left;
}

.right-box {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    text-align: right;
}