/* src/styles/timeline.module.css */

/* Main Container */
.container {
    box-sizing: border-box;
    height: calc(100vh - var(--footer-height) - var(--header-height) - 25px);
    overflow: hidden;
    padding: 5px;
    position: relative;
    top: 25px;
    width: 100%;
}

/* Grid Layout */
.gridWrapper {
    height: 100%;
    overflow: auto;
    position: relative;
    scrollbar-width: none;
    width: 100%;
    -ms-overflow-style: none;
}

.gridWrapper::-webkit-scrollbar {
    display: none;
}

.grid {
    display: inline-block;
    min-width: 100%;
    position: relative;
}

.row {
    display: flex;
    min-height: 100px;
}

.cell {
    border-right: 1px solid #333;
    opacity: 50%;
    box-sizing: border-box;
    flex: 0 0 220px;
    min-height: 100px;
    position: relative;
}

.cell:last-child {
    border-right: none;
}

/* Timeline Component */
.timeline {
    font-family: 'Minecraft', sans-serif;
    height: calc(100%);
    left: 10px;
    position: absolute;
    top: 0;
    width: 100px;
    z-index: 10;
}

/* Timeline Bar */
.timelineBar {
    background-color: #505050;
    bottom: 20px;
    position: absolute;
    right: -2px;
    top: 0;
    width: 5px;
}

/* Timeline Markers */
.yearMarker {
    background-color: #333;
    border-radius: 4px;
    color: #888;
    font-size: 14px;
    padding: 4px 8px;
    position: absolute;
    right: -25px;
    text-align: center;
    z-index: 2;
}

.monthMarker {
    align-items: center;
    color: #666;
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    left: 15px;
    position: absolute;
    width: 40px;
}

.monthMarker::after {
    background-color: #666;
    content: '';
    height: 2px;
    left: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
}

/* Timeline Content */
.timelineContent {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

/* Timeline End */
.timelineEnd {
    align-items: center;
    bottom: 10px;
    color: #666;
    display: flex;
    font-size: 14px;
    position: absolute;
    right: -5.25px;
}

.timelineArrow {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #505050;
    height: 0;
    width: 0;
}

.timelineEndText {
    bottom: 0px;
    color: #888;
    left: 20px;
    position: absolute;
    white-space: nowrap;
}

/* Now Marker */
.nowMarker {
    color: #00ff08;
    font-size: 12px;
    left: 140px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
}

.nowMarker::after {
    background-color: #00ff08;
    content: '';
    height: 2px;
    left: -20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
}


/* Preview */
.preview {
    pointer-events: none;
    left: -50px;
}
  
.preview .timelineBar,
.preview .timelineContent,
.preview .cell {
    pointer-events: none;
}
  
.preview .eventBox {
    cursor: default;
}
  
.preview .timelineEnd {
    display: none;
}